frontend-ead/node_modules
api_ead/node_modules
api_ead/public/hot
api_ead/public/storage
api_ead/storage/*.key
api_ead/vendor
api_ead/.env
api_ead/.env.backup
api_ead/.phpunit.result.cache
api_ead/docker-compose.override.yml
api_ead/Homestead.json
api_ead/Homestead.yaml
api_ead/npm-debug.log
api_ead/yarn-error.log
api_ead/.idea
api_ead/.vscode
api_ead/docker/mysql/.dbdata
api_ead/docker/mysql/.redis